src/main/java/com/trodin/beerfindr/jaxb/inventory/butiksartikel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ButikArtikel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Info"/>
        <xs:element ref="Butik" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Meddelande" type="xs:string"/>
  <xs:element name="ArtikelNr" type="xs:string"/>
  <xs:element name="Butik">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ArtikelNr" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="ButikNr" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Info">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Meddelande"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>